h1 {
  margin: 0;
}
.card {
  font-family: "Lato";
  margin: 30px auto;
  width: 375px;

  h1 {
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 1;
  }

  button {
    border: none;
    border-radius: 1rem;
    padding: 0.21rem 1.5rem;
    color: white;
    background-color: black;
  }
  
  .title {
    padding-bottom: 1rem;
  }

  .buttons {
    display: flex;

    button:last-child {
      background-color: transparent;
      color: gray;
    }
  }
}
